needed classes:
Item class
Location class
NPC class
Game class

needed amounts:
8 connected locations (Makinaw, Manitou, padnos, henry, holt hook, kindshi, ltt, arboretum)
10 items (cookie, cake, cake (lie), goblin morningstar, ration, goblin armor, goblin cookie, lasagna, goblin shield, potion)
5 npc's (gobbo, elf, potion seller, ranger, cleric)

Makinaw
N:None
S:Manitou
E:Holt Hook
W:None

Manitou:
N:Makinaw
S:Padnos
E:None
W:Kindshi

Holt Hook:
N:None
S:Arboretum
E:None
W:Makinaw

Padnos:
N:manitou
S:None
E:Arboretum
W:Loutit

Loutit:
N:Kindshi
S:Henry
E:Padnos
W:None

Henry:
N:Loutit
S:None
E:None
W:None

Kindshi:
N:None
S:Loutit
E:Manitou
W:None

Arboretum:
N:Holt Hook
S:None
E:None
W:Padnos
